
@media(min-width: 850px) {
    .main{
        /* width: 80vw; */
        margin-left: 19vw;
        margin-top: 11vh;
    }
    
}
@media(max-width: 850px) {
    .main{
        margin-top: 8vh;
    }
    
}
.towericon{
    background: rgba(0, 0, 0, 0) linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253)) repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
}

